/* Small Phone Style */
@media (min-width: 320px) and (max-width: 767px){
/* Top Header */
  header .top-header .info-top-header{
    text-align: center;
    margin-bottom: 10px;
  }
  header .menu .navbar.navbar-default ul.navbar-nav li{
    margin-right: 15px;
  }
  header .top-header ul.list-unstyled{
    margin-top: 10px;
    position: relative;
    display: block;
    text-align: right;
    margin-right: 18px;
  }
  header .top-header ul.list-unstyled i{
    right: -7px;
  }
  header .top-header ul.list-unstyled li:not(.init){
    width: 18%;
    text-align: center;
    right: 0px;
  }
  header .top-header ul.list-unstyled li{
    margin-left: 0px;
  }
  header .top-header ul.list-item{
    text-align: center;
  }
  header .menu .navbar.navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu li a{
    color: #bdbdbd;
  }
  header .menu .navbar.navbar-default ul.navbar-nav>.active>a::after,
  header .menu .navbar.navbar-default ul.navbar-nav li a:hover::after,
  header .menu .navbar.navbar-default ul.navbar-nav li a:focus::after{
    height: 2px;
  }
  header .menu .navbar.navbar-default ul.navbar-search{
    margin-bottom: 0px;
  }
  header .menu .navbar.navbar-default ul.navbar-search form{
    position: relative;
    width: 100%;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 0px;
  }
  header .menu .navbar.navbar-default ul.navbar-search form .form-group .form-control{
    display: inline-block;
    width: 88%;
  }
  footer .widget-area .area-1 {
    min-height: 0px;
    padding: 40px 20px 30px;
  }
  footer .widget-area .area-1 h3 {
    width: 66%;
    font-size: 16px;
    line-height: 21px;
  }
  footer .widget-area .area-1 ul.list-area {
    padding-left: 0px;
    margin-top: 20px;
  }
  footer .widget-area .area-1 ul.list-area li{
    font-size: 14px;
  }
  footer .widget-area .area-2, footer .widget-area .area-3 {
    padding: 40px 20px 0px;
  }
  /* Sidebar */
  .widget.sidebar h2.title{
    font-size: 24px;
  }
  /* End Sidebar */

  /* Galeri */
  ul.gallery li {
    width: 47%;
    margin-right: 14px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  ul.gallery li.item .folder-gallery::before{
    content: '';
    background-image: url('../img/folder-galeri.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 13px;
    display: block;
    height: 20px;
    width: 100%;
    left: 0px;
  }
  ul.gallery li.item .caption-gallery span.number {
    display: inline-block;
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #b3b3b3;
    padding: 9px 0px;
  }
  ul.gallery li.item .caption-gallery .text-caption {
    width: 100%;
    margin-left: 0px;
  }
  ul.gallery li.item .caption-gallery .text-caption span.date{
    font-size: 10px;
  }
  ul.gallery li.item .caption-gallery .text-caption p {
    font-size: 13px;
  }
  /* End Galeri */

  /* Dashboard */
  .navmenu, .navbar-offcanvas{
    width: 230px;
  }
  .canvas{
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .canvas .navbar-default{
    position: fixed;
    width: 100%;
  }
  .canvas .container-fluid.header{
    height: 120px;
  }
  .canvas .dash-header {
    padding: 19px 0px;
    position: relative;
    top: 50px;
  }
  .canvas .dash-header::before{
    content: none;
  }
  .canvas .dash-header .notification {
    position: fixed;
    top: 15px;
    z-index: 9999;
    width: 60%;
    text-align: right;
    right: 0px;
  }
  .canvas .dash-header img.logo-dashboard{
    padding-left: 0px;
  }
  .canvas .top-info-dashboard .col-xs-12{
    margin-bottom: 10px;
  }
  .top-info-dashboard {
    padding: 30px 10px 20px;
  }
  .setting.foto .search .entries{
    margin-bottom: 20px;
  }
  .setting .search .search-col input{
    width: 100%;
  }
  .setting .search {
      margin: 20px 0px 30px;
  }
  .setting .search .search-col{
    text-align: left;
  }
  .setting .table-list .footer-list-table .col-xs-12{
    text-align: center;
  }
  .setting .table-list .footer-list-table nav{
    text-align: center;
    margin-top: 10px;
  }
  .setting .table-list .footer-list-table nav ul.pagination li a{
    padding: 2px 8px;
  }
  .col-half-block .white-block ul.agenda-list li .date span.date {
    font-size: 25px;
    line-height: 35px;
  }
  .col-half-block .white-block ul.agenda-list li .date span.month{
    font-size: 14px;
  }
  .col-half-block .white-block ul.agenda-list li img {
    width: 21%;
  }
  .col-half-block .white-block ul.agenda-list li .info-text {
    width: 58%;
  }
  .col-half-block .white-block ul.agenda-list li .info-text p a {
    font-size: 14px;
  }
  .col-half-block .white-block ul.agenda-list li .info-text span {
    font-size: 11px;
    line-height: 18px;
  }
  .setting-post{
    padding: 0px 10px;
  }
  .setting-post .archive-post{
    margin-bottom: 20px;
  }
  .setting-post .archive-post .tab-content ul li .img-post {
    width: 100%;
  }
  .setting-post .archive-post .tab-content ul li .img-post img{
    width: 100%;
    margin-bottom: 10px;
  }
  .setting-post .archive-post.half-block-archive ul.nav.nav-tabs li {
    width: 32.8%;
  }
  .setting-post .archive-post.half-block-archive .tab-content ul li .img-post {
    width: 20%;
  }
  .setting-post .archive-post.half-block-archive ul.list-berita li .post {
    width: 60%;
  }
  .calendar-event .fc-header td{
    white-space: inherit;
    padding: 0px;
  }
  .col-half-block {
    padding: 0px 10px 0px;
  }
  .col-half-block .white-block{
    margin-bottom: 20px;
  }
  .col-half-block .white-block .calendar .calendar-event .fc-header-title h2,
  .fc-header-title h2 {
    font-size: 14px;
  }
  .col-half-block .white-block .calendar .calendar-event .fc-button-month.fc-state-default,
  .col-half-block .white-block .calendar .calendar-event .fc-button-agendaWeek.fc-state-default,
  .col-half-block .white-block .calendar .calendar-event .fc-button-agendaDay.fc-state-default,
  .fc-button-month.fc-state-default,
  .fc-button-agendaWeek.fc-state-default,
  .fc-button-agendaDay.fc-state-default {
    font-size: 10px;
    margin-bottom: 18px;
  }
  .fc-button-month.fc-state-default, .fc-button-agendaWeek.fc-state-default, .fc-button-agendaDay.fc-state-default{
    min-width: 26px;
  }
  .fc-text-arrow{
    margin: 0px;
  }
  .fc-header .fc-button{
    vertical-align: middle;
  }
  td.fc-header-right .fc-state-default.fc-corner-left,
  td.fc-header-right .fc-state-default.fc-corner-right{
    margin-bottom: 0px;
  }
  .inner-post td.fc-header-right .fc-state-default.fc-corner-left,
  .inner-post td.fc-header-right .fc-state-default.fc-corner-right{
    margin-bottom: 1em;
  }
  /* End Dashboard */

  /* Andalin */
  .calendar-event{
    margin-bottom: 40px;
  }
  .inner-post .fc-border-separate tr.fc-last th{
    font-size: 14px;
    line-height: 37px;
  }
  .inner-post .fc-week .fc-day > div .fc-day-number{
    font-size: 14px;
  }
  .inner-post .fc-state-highlight > div > div.fc-day-number,
  .fc-week .fc-day:hover .fc-day-number{
    width: 30px;
    height: 30px
  }
  .fc-event-time, .fc-event-title{
    font-size: 10px;
  }
  /* End Andalin */

/* End Top Header */
}

/* tab Phone Style */
@media (min-width: 768px) and (max-width: 1024px){
  /* Menu */
  header .menu .navbar.navbar-default ul.navbar-nav li {
    margin-left: 0px;
  }
  /* End Menu */
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
  /* Menu */
  header .top-header ul.list-unstyled li:not(.init) {
    width: 20%;
  }
  header .menu .navbar.navbar-default ul.navbar-nav li {
    margin-left: 0px;
  }
  /* End Menu */

  /* Footer */
  footer .widget-area .area-1 {
    padding: 60px 40px;
  }
  footer .widget-area .area-1 h3{
    width: 70%;
  }
  footer .widget-area .area-3 ul li{
    margin-right: 7px;
  }
  /* End Footer */

}
/* End tab Phone Style */
