body{
  font-family: 'Open Sans', sans-serif;
}

.bg-navy{background-color: #02002f;}
.col-navy{color: #02002f;}

.bg-dark-blue{background-color: #202056;}
.col-dark-blue{color: #202056;}

.bg-soft-blue{background-color: #384ca3;}
.col-soft-blue{color: #384ca3;}

.bg-soft-grey{background-color: #dfe0ff;}
.col-soft-grey{color: #dfe0ff;}

.bg-dark-grey{background-color: #a2abb2;}
.col-dark-grey{color: #a2abb2;}

.bg-grey{background-color: #e6e7e9;}
.col-grey{color: #e6e7e9;}

.bg-white-grey{background-color: #f5f5f5;}
.col-white-grey{color: #f5f5f5;}

.bg-white{background-color: #fefefe;}
.col-white{color: #fefefe;}

.bg-yellow{background-color: #ffb619;}
.col-yellow{color: #ffb619;}

.bg-dark{background-color: #333333;}
.col-dark{color: #333333;}

header .top-header{
  padding: 6px 0px;
  font-size: 13px;
}
header .top-header ul.list-item{
  display: block;
  text-align: right;
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}
header .top-header ul.list-item li{
  display: inline-block;
  margin-left: 20px;
}
header .top-header ul.list-item li:first-child::after{
  content: '|';
  position: relative;
  left: 10px;
}
header .top-header ul.list-item li a:hover{
  color: #fefefe;
  text-decoration: none;
}
header .top-header ul.list-item li a:hover i.fa{
  color: #e6e7e9;
}
header .top-header ul.list-unstyled{
  display: inline-block;
}
header .top-header ul.list-unstyled i{
  position: absolute;
  right: 6px;
  top: 3px;
}
header .top-header ul.list-unstyled li {
  padding: 5px 10px;
  z-index: 2;
  position: relative;
}
header .top-header ul.list-unstyled li.init {
  padding: 0px 10px;
}
header .top-header ul.list-unstyled li:not(.init) {
  width: 14%;
  display: none;
  background: #ffffff;
  position: absolute;
  text-align: left;
}
header .top-header ul.list-unstyled li:not(.init).ina {
  top: 25px;
}
header .top-header ul.list-unstyled li:not(.init).eng {
  top: 56px;
}
header .top-header ul.list-unstyled li:not(.init):hover,
header .top-header ul.list-unstyled li.selected:not(.init) {
  background: #dfe0ff;
  cursor: pointer;
}
header .top-header ul.list-unstyled li.init {
  cursor: pointer;
}
header .logo{
  padding: 15px 0px;
}
header .menu .navbar.navbar-default{
  border: none;
  background-color: #f5f5f5;
  margin-bottom: 0px;
}
header .menu .navbar.navbar-default ul.navbar-nav li a{
  color: #ffffff;
}
header .menu .navbar.navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu li a{
  color: #333333;
}
header .menu .navbar.navbar-default ul.navbar-nav>.active>a,
header .menu .navbar.navbar-default ul.navbar-nav>.active>a:hover,
header .menu .navbar.navbar-default ul.navbar-nav>.active>a:focus,
header .menu .navbar.navbar-default ul.navbar-nav>.open>a,
header .menu .navbar.navbar-default ul.navbar-nav>.open>a:hover,
header .menu .navbar.navbar-default ul.navbar-nav>.open>a:focus{
  background-color: #202056;
}
header .menu .navbar.navbar-default ul.navbar-nav>.active>a::after,
header .menu .navbar.navbar-default ul.navbar-nav li a:hover::after,
header .menu .navbar.navbar-default ul.navbar-nav li a:focus::after{
  content: '';
  background-color: #ffb619;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0px;
  display: block;
}
header .menu .navbar.navbar-default ul.navbar-nav li{
  margin-left: 15px;
}
header .menu .navbar.navbar-default ul.navbar-nav li.dropdown ul.dropdown-menu li{
  margin-left: 0px;
}
header .menu .navbar.navbar-default ul.navbar-search form{
  margin-top: 10px;
  margin-bottom: 10px;
}
header .menu .navbar.navbar-default ul.navbar-search form .form-group .form-control{
  width: 250px;
  height: 30px;
  margin-right: -5px;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
header .menu .navbar.navbar-default ul.navbar-search form button.btn{
  height: 30px;
  border: none;
  background-color: #ffb619;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  vertical-align: top;
}
header .menu .navbar.navbar-default ul.navbar-search form button.btn i{
  color: #ffffff;
}

footer .widget-area .area-1{
  padding: 60px 60px;
  min-height: 368px;
}
footer .widget-area .area-1 h3{
  margin-top: 0px;
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: middle;
  margin-left: 20px;
  line-height: 27px;
}
footer .widget-area .area-1 ul.list-area{
  list-style: none;
  padding-left: 88px;
  margin-bottom: 0px;
  margin-top: 40px;
}
footer .widget-area .area-1 ul.list-area li{
  font-weight: 100;
  font-family: 'Open Sans',sans-serif;
  margin-bottom: 15px;
  font-size: 16px;
  position: relative;
  padding-left: 32px;
}
footer .widget-area .area-1 ul.list-area li i.fa{
  margin-right: 10px;
  position: absolute;
  left: 0px;
  top: 3px;
}
footer .widget-area .area-1 ul.list-area li a:hover{
  color: #ffffff;
}
footer .widget-area .area-2,
footer .widget-area .area-3{
  padding: 60px 20px 0px;
}
footer .widget-area .area-2 h3,
footer .widget-area .area-3 h3{
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  position: relative;
  margin-bottom: 40px;
  margin-top: 0px;
}
footer .widget-area .area-2 h3::after,
footer .widget-area .area-3 h3::after{
  content: '';
  height: 4px;
  width: 60px;
  position: absolute;
  bottom: -10px;
  background-color: #ffb619;
  left: 0px;
}
footer .widget-area .area-2 ul li{
  margin-bottom: 10px;
}
footer .widget-area .area-2 ul li a:hover{
  color: #ffffff;
}
footer .widget-area .area-3 ul{
  padding-left: 0px;
  list-style: none;
  display: block;
  width: 100%;
}
footer .widget-area .area-3 ul li{
  display: inline-block;
  width: 27%;
  margin-right: 10px;
  margin-bottom: 10px;
}
footer .copywrite{
  padding: 20px 0px;
}
footer .copywrite p{
  margin-bottom: 0px;
}